.newsletter{
    width :65%;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 60px;
    margin-top: 80px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, gray 60%);
    gap: 30px;
}

.newsletter h1{
    color: black;
    font-size: 40px;
    font-weight:600;

}
.newsletter p{
color: #454545;
font-size: 20px;
}

.newsletter div{
display: flex;
justify-content: space-between;
background: white;
width: 780px;
height: 70px;
border-radius: 80px;
border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-size: 60px;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 250px;
    height:70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}